json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
numpy==1.26.2
pandas==2.1.3
python-dateutil==2.8.2
requests==2.31.0
fastapi==0.115.0
uvicorn==0.31.1
python-dotenv==1.0.1
hdbcli==2.22.29
httpx==0.27.2
PyJWT==2.10.1
